<h1>Home</h1>

<p>Products</p>
<a href="/products"><button>Click here</button></a>

<p>Login</p>
<a href="/login"><button>Click here</button></a>

{{#if isAdmin}}
    <p>Users</p>
    <a href="/login"><button>Click here</button></a>
{{/if}}

<script src="/js/home.js"></script>  